* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
} 

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('assets/background.png') no-repeat center center fixed; 
    background-size: cover;
    font-family: 'Caviar Dreams', sans-serif;
    color: #0b0b10
}

.profile-card {
    width: 1000px;
    max-width: calc(100vw - 20px);
    height: auto;
    max-height: calc(100vw - 20px);
    background-color: rgba(211, 231, 249, 0.46);
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 10px 10px 25px 5px;
}

#text-container{
    text-align: center;
}

.head, .content {
    width: 90%;
    margin: 0 auto;
}

.name-headline{
    margin-top: 50px;
}

img {
    width: 400px;
    height: 400px;
    margin-top: 50px;
    padding-left: 16px;
    float: left;
    position: sticky;
}

ul {
    list-style-type: none;
}
  
li {
    display: inline;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 40px;
    word-spacing: -5px;
    margin: 10px auto 15px;
    padding-left: 20px;
    padding-right: 20px;
}

h3, p{
    font-size: 24px;
    padding-right: 50px;
}

.about{
    font-size: 18px;
    line-height: 25px;
    margin: 15px auto;
    text-align: center;
}

button{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgba(211, 231, 249, 0.46);
    padding: 15px;
    border-color:  rgba(211, 231, 249, 0.46);
    border-radius: 20px;
    box-shadow: rgba(33, 37, 84, 0.185) 2px 2px 8px 3px;
    margin: 15px auto 15px;
    cursor: pointer;
}

button:hover {
    background-color: #B7B0EB;
    color: #000;
    transition: all 0.25s ease-in-out;
  }

.links{
    line-height: 32px;
    padding: 20px;
    font-size: 16px;
}

.nav{
    color: rgba(10, 11, 12, 0.46);
    padding: 3%;
}
  
a.nav:hover {
    color: #847bba;
    transition: all 0.25s ease-in-out;
}
